<ion-content class="verificationPage" color="light">
  <div class="divmargin ion-padding">
    <img
      src="/assets/images/black-whit-bkgrd.png"
      alt="Uranse"
      class="ion-padding"
    />
    <h3>Enter your code</h3>
  </div>
  <div class="ion-padding">
        <ion-input class="ion-padding" placeholder="Security code" type="text"
          autocomplete="on" autocorrect="off" inputmode="text" maxlength = 6 minlength = 6
        >

        </ion-input>
   
    <ion-button
      expand="full"
      color="primary"
      size="small"
      strong
      (click) = "loginAction()"
    >
      Continue
    </ion-button>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <p class="ion-padding">
      By signing in you accept our
      <a>Terms of use</a>
      and
      <a>privacy policy</a>
    </p>
  </ion-toolbar>
</ion-footer>
