.inputs-list {
  --ion-item-background: var(--page-background);

  padding: var(--page-margin) var(--page-margin) calc(var(--page-margin) * 2);

  ion-list-header {
    padding-inline-start: 0px;

    .header-title {
      text-transform: uppercase;
      font-size: 16px;
      color: var(--ion-color-secondary);
    }
  }

  .input-item {
    --padding-start: 0px;
    --padding-end: 0px;
    --inner-padding-end: 0px;
  }

.error-container {
  .error-message {
    margin: calc(var(--page-margin) / 2) 0px;
    display: flex;
    align-items: center;
    color: var(--ion-color-danger);
    font-size: 14px;

    ion-icon {
      padding-inline-end: calc(var(--page-margin) / 2);
      flex-shrink: 0;
    }
  }
}
}

.ng-valid[required], .ng-valid.required, .ng-invalid[required], .ng-invalid.required  {
  border-left: 2px solid #7951ff;
}