<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="prev()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <img
        class="headerlogog"
        alt="Uranse"
        src="/assets/images/uranselogo-white.png"
      />
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="navigateHome()">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-progress-bar
      color="success"
      value="{{ progressValue }}"
    ></ion-progress-bar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
  <ion-list-header class="header" *ngIf="step == 0"><ion-label><b>Where are you shipping from?</b></ion-label></ion-list-header>
  <ion-list-header class="header" *ngIf="step == 1"><ion-label><b>Where is this shipment going?</b></ion-label></ion-list-header>
  <ion-list-header class="header" *ngIf="step == 2"><ion-label><b>What kind of packaging are you using?</b></ion-label></ion-list-header>
  <ng-container *ngIf="step == 0">
  <form [formGroup]="senderForm" autocomplete="on" autocapitalize="words" *ngIf="step == 0" class="ion-padding">
    <ion-list class="inputs-list" lines="full">
      <!-- Name -->
      <ion-item class="input-item">
        <ion-label position="floating">
         &nbsp; Name
        </ion-label>
        <ion-input
          type="text"
          formControlName="name"
          clearInput
          required
        ></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.name">
          <div
            class="error-message"
            *ngIf="
              senderForm.get('name').hasError(validation.type) &&
              (senderForm.get('name').dirty || senderForm.get('name').touched)
            "
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      <!--Business Name -->
      <ion-item class="input-item">
        <ion-label position="floating">
          &nbsp; Business Name
        </ion-label>
        <ion-input
          type="text"
          formControlName="businessname"
          clearInput
        ></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.businessname">
          <div
            class="error-message"
            *ngIf="
              senderForm.get('businessname').hasError(validation.type) &&
              (senderForm.get('businessname').dirty ||
                senderForm.get('businessname').touched)
            "
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      <!-- Country -->
      <ion-item class="input-item">
        <ion-label position="floating">Country</ion-label>
        <ion-select
          formControlName="country"
          cancelText="Cancel"
          okText="OK"
          required
          (ionChange)="onCountryChange($event)"
        >
          <ion-select-option *ngFor="let item of countries" [value]="item" >
            {{ item.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <!--Address 1 -->
      <ion-item class="input-item">
        <ion-label position="floating">
          &nbsp; Address 1
        </ion-label>
        <ion-input
          type="text"
          formControlName="address1"
          clearInput
          required
        ></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.address1">
          <div
            class="error-message"
            *ngIf="
              senderForm.get('address1').hasError(validation.type) &&
              (senderForm.get('address1').dirty ||
                senderForm.get('address1').touched)
            "
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      <!-- Address 2 -->
      <ion-item class="input-item">
        <ion-label position="floating">
          &nbsp; Address 2
        </ion-label>
        <ion-input
          type="text"
          formControlName="address2"
          clearInput
        ></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.address2">
          <div
            class="error-message"
            *ngIf="
              senderForm.get('address2').hasError(validation.type) &&
              (senderForm.get('address2').dirty ||
                senderForm.get('address2').touched)
            "
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      <!-- Postal code -->
      <ion-item class="input-item">
        <ion-label position="floating">
          &nbsp; Postal Code
        </ion-label>
        <ion-input
          type="text"
          formControlName="postalcode"
          clearInput
        ></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.postalcode">
          <div
            class="error-message"
            *ngIf="
              senderForm.get('postalcode').hasError(validation.type) &&
              (senderForm.get('postalcode').dirty ||
                senderForm.get('postalcode').touched)
            "
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      <!-- City / town -->
      <ion-item class="input-item">
        <ion-label position="floating">
          &nbsp; City/Town
        </ion-label>
        <ion-input
          type="text"
          formControlName="city"
          clearInput
          required
        ></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.city">
          <div
            class="error-message"
            *ngIf="
              senderForm.get('city').hasError(validation.type) &&
              (senderForm.get('city').dirty || senderForm.get('city').touched)
            "
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      <!-- State -->
      <ion-item class="input-item">
        <ion-label position="floating">&nbsp;State / Province</ion-label>
        <ion-select
          formControlName="state"
          cancelText="Cancel"
          okText="OK"
          required
          [disabled]="!(senderForm.get('country').dirty ||
          senderForm.get('country').touched)"
        >
          <ion-select-option
            *ngFor="let item of states"
            [value]="item"
          >
            {{ item }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <!-- Phone -->
      <ion-item class="input-item">
        <ion-label position="floating">
          &nbsp; Phone
        </ion-label>
        <ion-input
          type="text"
          formControlName="phone"
          clearInput
          required
        ></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.phone">
          <div
            class="error-message"
            *ngIf="
              senderForm.get('phone').hasError(validation.type) &&
              (senderForm.get('phone').dirty || senderForm.get('phone').touched)
            "
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      <!-- Email -->
      <ion-item class="input-item">
        <ion-label position="floating">
          &nbsp; Email
        </ion-label>
        <ion-input
          type="email"
          formControlName="email"
          clearInput
          inputmode="email"
          required
        ></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.email">
          <div
            class="error-message"
            *ngIf="
              senderForm.get('email').hasError(validation.type) &&
              (senderForm.get('email').dirty || senderForm.get('email').touched)
            "
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
    </ion-list>
    <ion-button
      expand="full"
      color="tertiary"
      [disabled]="!senderForm.valid"
      (click)="next()"
    >
      Continue
    </ion-button>
  </form>
  </ng-container>
  <ng-container *ngIf="step == 1">
  <form [formGroup]="destinationForm" autocomplete="on" autocapitalize="words" *ngIf="step == 1" class="ion-padding form-animate">
    <ion-list class="inputs-list" lines="full">
      <!-- Name -->
      <ion-item class="input-item">
        <ion-label position="floating">
          &nbsp; Name
        </ion-label>
        <ion-input
          type="text"
          formControlName="name"
          clearInput
          required
          autocapitalize="true"
        ></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.name">
          <div
            class="error-message"
            *ngIf="
              destinationForm.get('name').hasError(validation.type) &&
              (destinationForm.get('name').dirty ||
                destinationForm.get('name').touched)
            "
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      <!--Business Name -->
      <ion-item class="input-item">
        <ion-label position="floating">
          &nbsp; Business Name
        </ion-label>
        <ion-input
          type="text"
          formControlName="businessname"
          clearInput
        ></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.businessname">
          <div
            class="error-message"
            *ngIf="
              destinationForm.get('businessname').hasError(validation.type) &&
              (destinationForm.get('businessname').dirty ||
                destinationForm.get('businessname').touched)
            "
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      <!-- Country -->
      <ion-item class="input-item">
        <ion-label position="floating">&nbsp;Country</ion-label>
        <ion-select
          formControlName="country"
          cancelText="Cancel"
          okText="OK"
          required
          (ionChange)="onCountryChange($event)"
        >
          <ion-select-option *ngFor="let item of countries" [value]="item">
            {{ item.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <!-- Address 1 -->
      <ion-item class="input-item">
        <ion-label position="floating">
          &nbsp; Address 1
        </ion-label>
        <ion-input
          type="text"
          formControlName="address1"
          clearInput
          required
        ></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.address1">
          <div
            class="error-message"
            *ngIf="
              destinationForm.get('address1').hasError(validation.type) &&
              (destinationForm.get('address1').dirty ||
                destinationForm.get('address1').touched)
            "
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      <!-- Address 2 -->
      <ion-item class="input-item">
        <ion-label position="floating">
          &nbsp; Address 2
        </ion-label>
        <ion-input
          type="text"
          formControlName="address2"
          clearInput
        ></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.address2">
          <div
            class="error-message"
            *ngIf="
              destinationForm.get('address2').hasError(validation.type) &&
              (destinationForm.get('address2').dirty ||
                destinationForm.get('address2').touched)
            "
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      <!-- Postal Code -->
      <ion-item class="input-item">
        <ion-label position="floating">
          &nbsp; Postal Code
        </ion-label>
        <ion-input
          type="text"
          formControlName="postalcode"
          clearInput
        ></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.postalcode">
          <div
            class="error-message"
            *ngIf="
              destinationForm.get('postalcode').hasError(validation.type) &&
              (destinationForm.get('postalcode').dirty ||
                destinationForm.get('postalcode').touched)
            "
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      <!-- City -->
      <ion-item class="input-item">
        <ion-label position="floating">
          &nbsp; City/Town
        </ion-label>
        <ion-input
          type="text"
          formControlName="city"
          clearInput
          required
        ></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.city">
          <div
            class="error-message"
            *ngIf="
              destinationForm.get('city').hasError(validation.type) &&
              (destinationForm.get('city').dirty ||
                destinationForm.get('city').touched)
            "
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      <!-- State -->
      <ion-item class="input-item">
        <ion-label position="floating">&nbsp;State / Province</ion-label>
        <ion-select
          formControlName="state"
          cancelText="Cancel"
          okText="OK"
          required
          [disabled]="!(destinationForm.get('country').dirty ||
          destinationForm.get('country').touched)"
        >
          <ion-select-option
            *ngFor="let item of states"
            [value]="item"
          >
            {{ item }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <!-- Phone -->
      <ion-item class="input-item">
        <ion-label position="floating">
          &nbsp; Phone
        </ion-label>
        <ion-input
          type="text"
          formControlName="phone"
          clearInput
          required
        ></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.phone">
          <div
            class="error-message"
            *ngIf="
              destinationForm.get('phone').hasError(validation.type) &&
              (destinationForm.get('phone').dirty ||
                destinationForm.get('phone').touched)
            "
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      <!-- Email -->
      <ion-item class="input-item">
        <ion-label position="floating">
          &nbsp; Email
        </ion-label>
        <ion-input
          type="email"
          formControlName="email"
          clearInput
          inputmode="email"
          required
        ></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.email">
          <div
            class="error-message"
            *ngIf="
              destinationForm.get('email').hasError(validation.type) &&
              (destinationForm.get('email').dirty ||
                destinationForm.get('email').touched)
            "
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
    </ion-list>

    <ion-button
      expand="full"
      color="tertiary"
      [disabled]="!destinationForm.valid"
      (click)="next()"
    >
      Continue
    </ion-button>
  </form>
  </ng-container>
  <ng-container *ngIf="step == 2">
    <form [formGroup]="packageForm" class="ion-padding form-animate" >
      <ion-list class="inputs-list" lines="full">
        <!--Weight-->
        <ion-item lines="none"  class="input-item">
          <ion-item class="input-item" slot="start">
            <ion-label position="floating">&nbsp;Weight</ion-label>
            <ion-input
            formControlName="weight"
            type="text"
            clearInput
            required
            ></ion-input>
          </ion-item>
          <ion-item slot="end" class="input-item"> 
            <ion-label position="floating">&nbsp;Unit</ion-label>
            <ion-select>
              <ion-select-option selected [value]="lbs">lbs</ion-select-option>
              <ion-select-option [value]="kg">Kg</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validations.weight">
            <div
              class="error-message"
              *ngIf="packageForm.get('weight').hasError(validation.type) && (packageForm.get('weight').dirty || packageForm.get('weight').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
        <!--Dimensions-->
        <ion-item lines="none" class="input-item">
          <!--Length-->
          <ion-item class="input-item">
            <ion-label position="floating">&nbsp;Length</ion-label>
            <ion-input
            formControlName="length"
            type="text"
            clearInput
            required
            ></ion-input>
          </ion-item>
          <!--Width-->
          <ion-item class="input-item">
            <ion-label position="floating">&nbsp;Width</ion-label>
            <ion-input
            formControlName="width"
            type="text"
            clearInput
            required
            ></ion-input>
          </ion-item>
          <!--Height-->
          <ion-item class="input-item">
            <ion-label position="floating">&nbsp;Height</ion-label>
            <ion-input
            formControlName="height"
            type="text"
            clearInput
            required
            ></ion-input>
          </ion-item>
          <!--Unit-->
          <ion-item slot="end" class="input-item"> 
            <ion-label position="floating">&nbsp;Unit</ion-label>
            <ion-select>
              <ion-select-option selected [value]="in">in</ion-select-option>
              <ion-select-option [value]="cm">cm</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-item>
        <ng-container>
          <div class="error-container">
            <ng-container *ngFor="let validation of validations.length">
              <div
                class="error-message"
                *ngIf="packageForm.get('length').hasError(validation.type) && (packageForm.get('length').dirty || packageForm.get('length').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span>{{ validation.message }}</span>
              </div>
            </ng-container>
          </div>
          <div class="error-container">
            <ng-container *ngFor="let validation of validations.width">
              <div
                class="error-message"
                *ngIf="packageForm.get('width').hasError(validation.type) && (packageForm.get('width').dirty || packageForm.get('width').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span>{{ validation.message }}</span>
              </div>
            </ng-container>
          </div>
          <div class="error-container">
            <ng-container *ngFor="let validation of validations.height">
              <div
                class="error-message"
                *ngIf="packageForm.get('height').hasError(validation.type) && (packageForm.get('height').dirty || packageForm.get('height').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span>{{ validation.message }}</span>
              </div>
            </ng-container>
          </div>
        </ng-container>
        <!--Package description-->
        <ion-item class="input-item">
          <ion-label  position="floating">&nbsp;Description</ion-label>
          <ion-textarea 
          formControlName="description"
          clearInput
          auto-grow="true"
          autocapitalize="on"
          placeholder="Please describe what you are shipping"></ion-textarea>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validations.description">
            <div
              class="error-message"
              *ngIf="packageForm.get('value').hasError(validation.type) && (packageForm.get('value').dirty || packageForm.get('value').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
        <!--Declared value-->
        <ion-item class="input-item">
          <ion-label  position="floating">&nbsp;Declared Value</ion-label>
          <ion-input autocomplete="on" formControlName="value" type="text" clearInput ></ion-input>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validations.value">
            <div
              class="error-message"
              *ngIf="packageForm.get('value').hasError(validation.type) && (packageForm.get('value').dirty || packageForm.get('value').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
        <ion-item lines="none" class="input-item"> 
          <ion-label>Include lithium batteries</ion-label>
          <ion-toggle formControlName="isHazardous"></ion-toggle>
        </ion-item>
        <ion-item lines="none" class="input-item"> 
          <ion-label>Require signature</ion-label>
          <ion-toggle formControlName="requireSignature"></ion-toggle>
        </ion-item>
      </ion-list>
      <ion-button
      expand="full"
      color="tertiary"
      [disabled]="!packageForm.valid"
      (click)="next()"
    >
      Continue
    </ion-button>
    </form>
  </ng-container>
</ion-list>
</ion-content>
