<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="prev()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <img
        class="headerlogog"
        alt="Uranse"
        src="/assets/images/uranselogo-white.png"
      />
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="navigateHome()">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-progress-bar
      color="tertiary"
      value="{{ progressValue }}"
    ></ion-progress-bar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="senderForm" *ngIf="step == 1" class="ion-padding">
    <div>
      <ion-text><h4>Where are you shipping from?</h4></ion-text>
    </div>
    <ion-list class="inputs-list" lines="full">
      <!-- Name -->
      <ion-item class="input-item">
        <ion-label position="floating">
         &nbsp; Name
        </ion-label>
        <ion-input
          type="text"
          formControlName="name"
          clearInput
          required
        ></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.name">
          <div
            class="error-message"
            *ngIf="
              senderForm.get('name').hasError(validation.type) &&
              (senderForm.get('name').dirty || senderForm.get('name').touched)
            "
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      <!--Business Name -->
      <ion-item class="input-item">
        <ion-label position="floating">
          &nbsp; Business Name
        </ion-label>
        <ion-input
          type="text"
          formControlName="businessname"
          clearInput
        ></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.businessname">
          <div
            class="error-message"
            *ngIf="
              senderForm.get('businessname').hasError(validation.type) &&
              (senderForm.get('businessname').dirty ||
                senderForm.get('businessname').touched)
            "
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      <!-- Country -->
      <ion-item class="input-item">
        <ion-label position="floating">Country</ion-label>
        <ion-select
          formControlName="country"
          cancelText="Cancel"
          okText="OK"
          required
        >
          <ion-select-option *ngFor="let item of countries" [value]="item">
            {{ item.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <!--Address 1 -->
      <ion-item class="input-item">
        <ion-label position="floating">
          &nbsp; Address 1
        </ion-label>
        <ion-input
          type="text"
          formControlName="address1"
          clearInput
          required
        ></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.address1">
          <div
            class="error-message"
            *ngIf="
              senderForm.get('address1').hasError(validation.type) &&
              (senderForm.get('address1').dirty ||
                senderForm.get('address1').touched)
            "
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      <!-- Address 2 -->
      <ion-item class="input-item">
        <ion-label position="floating">
          &nbsp; Address 2
        </ion-label>
        <ion-input
          type="text"
          formControlName="address2"
          clearInput
        ></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.address2">
          <div
            class="error-message"
            *ngIf="
              senderForm.get('address2').hasError(validation.type) &&
              (senderForm.get('address2').dirty ||
                senderForm.get('address2').touched)
            "
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      <!-- Postal code -->
      <ion-item class="input-item">
        <ion-label position="floating">
          &nbsp; Postal Code
        </ion-label>
        <ion-input
          type="text"
          formControlName="postalcode"
          clearInput
        ></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.postalcode">
          <div
            class="error-message"
            *ngIf="
              senderForm.get('postalcode').hasError(validation.type) &&
              (senderForm.get('postalcode').dirty ||
                senderForm.get('postalcode').touched)
            "
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      <!-- City / town -->
      <ion-item class="input-item">
        <ion-label position="floating">
          &nbsp; City/Town
        </ion-label>
        <ion-input
          type="text"
          formControlName="city"
          clearInput
          required
        ></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.city">
          <div
            class="error-message"
            *ngIf="
              senderForm.get('city').hasError(validation.type) &&
              (senderForm.get('city').dirty || senderForm.get('city').touched)
            "
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      <!-- State -->
      <ion-item class="input-item">
        <ion-label position="floating">&nbsp;State / Province</ion-label>
        <ion-select
          formControlName="state"
          cancelText="Cancel"
          okText="OK"
          required
          placeholder="{{ senderForm.value.country.states[0] }}"
        >
          <ion-select-option
            *ngFor="let item of senderForm.value.country.states"
            [value]="item"
          >
            {{ item }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <!-- Phone -->
      <ion-item class="input-item">
        <ion-label position="floating">
          &nbsp; Phone
        </ion-label>
        <ion-input
          type="text"
          formControlName="phone"
          clearInput
          required
          placeholder="{{ senderForm.value.country.phoneCode }}"
        ></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.phone">
          <div
            class="error-message"
            *ngIf="
              senderForm.get('phone').hasError(validation.type) &&
              (senderForm.get('phone').dirty || senderForm.get('phone').touched)
            "
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      <!-- Email -->
      <ion-item class="input-item">
        <ion-label position="floating">
          &nbsp; Email
        </ion-label>
        <ion-input
          type="email"
          formControlName="email"
          clearInput
          inputmode="email"
          required
        ></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.email">
          <div
            class="error-message"
            *ngIf="
              senderForm.get('email').hasError(validation.type) &&
              (senderForm.get('email').dirty || senderForm.get('email').touched)
            "
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
    </ion-list>

    <ion-button
      expand="full"
      color="tertiary"
      [disabled]="!senderForm.valid"
      (click)="next()"
    >
      Continue
    </ion-button>
  </form>
  <form [formGroup]="destinationForm" *ngIf="step == 2" class="ion-padding">
    <div>
      <ion-text><h4>Where is this shipment going?</h4></ion-text>
    </div>
    <ion-list class="inputs-list" lines="full">
      <!-- Name -->
      <ion-item class="input-item">
        <ion-label position="floating">
          &nbsp; Name
        </ion-label>
        <ion-input
          type="text"
          formControlName="name"
          clearInput
          required
        ></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.name">
          <div
            class="error-message"
            *ngIf="
              destinationForm.get('name').hasError(validation.type) &&
              (destinationForm.get('name').dirty ||
                destinationForm.get('name').touched)
            "
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      <!--Business Name -->
      <ion-item class="input-item">
        <ion-label position="floating">
          &nbsp; Business Name
        </ion-label>
        <ion-input
          type="text"
          formControlName="businessname"
          clearInput
        ></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.businessname">
          <div
            class="error-message"
            *ngIf="
              destinationForm.get('businessname').hasError(validation.type) &&
              (destinationForm.get('businessname').dirty ||
                destinationForm.get('businessname').touched)
            "
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      <!-- Country -->
      <ion-item class="input-item">
        <ion-label position="floating">&nbsp;Country</ion-label>
        <ion-select
          formControlName="country"
          cancelText="Cancel"
          okText="OK"
          required
        >
          <ion-select-option *ngFor="let item of countries" [value]="item">
            {{ item.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <!-- Address 1 -->
      <ion-item class="input-item">
        <ion-label position="floating">
          &nbsp; Address 1
        </ion-label>
        <ion-input
          type="text"
          formControlName="address1"
          clearInput
          required
        ></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.address1">
          <div
            class="error-message"
            *ngIf="
              destinationForm.get('address1').hasError(validation.type) &&
              (destinationForm.get('address1').dirty ||
                destinationForm.get('address1').touched)
            "
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      <!-- Address 2 -->
      <ion-item class="input-item">
        <ion-label position="floating">
          &nbsp; Address 2
        </ion-label>
        <ion-input
          type="text"
          formControlName="address2"
          clearInput
        ></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.address2">
          <div
            class="error-message"
            *ngIf="
              destinationForm.get('address2').hasError(validation.type) &&
              (destinationForm.get('address2').dirty ||
                destinationForm.get('address2').touched)
            "
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      <!-- Postal Code -->
      <ion-item class="input-item">
        <ion-label position="floating">
          &nbsp; Postal Code
        </ion-label>
        <ion-input
          type="text"
          formControlName="postalcode"
          clearInput
        ></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.postalcode">
          <div
            class="error-message"
            *ngIf="
              destinationForm.get('postalcode').hasError(validation.type) &&
              (destinationForm.get('postalcode').dirty ||
                destinationForm.get('postalcode').touched)
            "
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      <!-- City -->
      <ion-item class="input-item">
        <ion-label position="floating">
          &nbsp; City/Town
        </ion-label>
        <ion-input
          type="text"
          formControlName="city"
          clearInput
          required
        ></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.city">
          <div
            class="error-message"
            *ngIf="
              destinationForm.get('city').hasError(validation.type) &&
              (destinationForm.get('city').dirty ||
                destinationForm.get('city').touched)
            "
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      <!-- State -->
      <ion-item class="input-item">
        <ion-label position="floating">&nbsp;State / Province</ion-label>
        <ion-select
          formControlName="state"
          cancelText="Cancel"
          okText="OK"
          required
          placeholder="{{ destinationForm.value.country.states[0] }}"
        >
          <ion-select-option
            *ngFor="let item of destinationForm.value.country.states"
            [value]="item"
          >
            {{ item }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <!-- Phone -->
      <ion-item class="input-item">
        <ion-label position="floating">
          &nbsp; Phone
        </ion-label>
        <ion-input
          type="text"
          formControlName="phone"
          clearInput
          required
          placeholder="{{ destinationForm.value.country.phoneCode }}"
        ></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.phone">
          <div
            class="error-message"
            *ngIf="
              destinationForm.get('phone').hasError(validation.type) &&
              (destinationForm.get('phone').dirty ||
                destinationForm.get('phone').touched)
            "
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      <!-- Email -->
      <ion-item class="input-item">
        <ion-label position="floating">
          &nbsp; Email
        </ion-label>
        <ion-input
          type="email"
          formControlName="email"
          clearInput
          inputmode="email"
          required
        ></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.email">
          <div
            class="error-message"
            *ngIf="
              destinationForm.get('email').hasError(validation.type) &&
              (destinationForm.get('email').dirty ||
                destinationForm.get('email').touched)
            "
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
    </ion-list>

    <ion-button
      expand="full"
      color="tertiary"
      [disabled]="!destinationForm.valid"
      (click)="next()"
    >
      Continue
    </ion-button>
  </form>
</ion-content>
