<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <img class="headerlogog" src="/assets/images/uranselogo-white.png" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="default" fullscreen>
  <ion-searchbar autocorrect="off" color="dark" type="text"></ion-searchbar>
  <ion-segment class="ion-padding" color="tertiary">
    <ion-segment-button value="all"> <ion-label>All</ion-label></ion-segment-button>
    <ion-segment-button value="received"> <ion-label>To Me</ion-label></ion-segment-button>
    <ion-segment-button value="sent"> <ion-label>From Me</ion-label></ion-segment-button>
  </ion-segment>
</ion-content>
