<ion-header>
  <ion-toolbar color="primary">
     <ion-buttons slot="start">
            <ion-back-button defaultHref="home/ship"></ion-back-button>
      </ion-buttons>
      <ion-title><img class="headerlogog" src="/assets/images/uranselogo-white.png" /></ion-title>
      <ion-buttons slot="primary">
          <ion-button [routerLink] ="['/home']">
            <ion-icon slot="icon-only" name="home"></ion-icon>
          </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content></ion-content>
