<ion-content class="loginPage" color="light">
  <ion-nav-push>
    <ion-button color="primary" size="small" fill="clear">SKIP</ion-button>
  </ion-nav-push>

  <div class="divmargin ion-padding">
    <img src="/assets/images/black-whit-bkgrd.png" alt="Uranse" class="ion-padding" />
    <h3>Get your one-time code</h3>
  </div>
  <div class="ion-padding">
    <form>
      <ion-input name="phonenumber" class="ion-padding" placeholder="Phone Number" type="tel" autocomplete="on" autocorrect="off"
        inputmode="tel" minlength=10 [(ngModel)] = "phonenumber"></ion-input>
      <ion-button expand="block" color="primary" size="big" strong (click) = "verifyPhoneNumber()">
        Continue
      </ion-button>
    </form>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <p class="ion-padding">
      By signing in you accept our
      <a>Terms of use</a>
      and
      <a>privacy policy</a>
    </p>
  </ion-toolbar>
</ion-footer>