<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="track">
      <ion-icon name="search" color="light"></ion-icon>
      <ion-label>TRACK</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ship">
      <ion-icon name="cube" color="light"></ion-icon>
      <ion-label>SHIP</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rates">
      <ion-icon name="calculator" color="light"></ion-icon>
      <ion-label>RATE</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings" color="light"></ion-icon>
      <ion-label>SETTINGS</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
