<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title><img class="headerlogog" src="/assets/images/uranselogo-white.png" /></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item *ngFor="let menu of shippingmenus" button detail [routerLink]="[menu.url]">
      <ion-icon name="{{ menu.iconName }}"></ion-icon>
      <ion-label>
        {{ menu.title }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
