@font-face {
   font-family: 'PT Sans';
   src: url('../assets/fonts/PTSans-Regular.ttf');
   font-weight: 200;
   font-style: normal;
 }
 @font-face {
   font-family: 'PT Sans';
   src: url('../assets/fonts/PTSans-Bold.ttf');
   font-weight: 300;
   font-style: normal;
 }
