<ion-content class="loginPage" color="primary">
  <div class="divmargin ion-padding">
    <img
      src="/assets/images/uranselogo-white.png"
      alt="Uranse"
      class="ion-padding"
    />
  </div>
  <div class="ion-padding">
    <ion-button
      expand="block"
      color="light"
      class="ion-padding"
      size="big"
      (click)="navigateToAuthentication()"
      strong
    >
      Sign in with Phone Number
    </ion-button>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <p class="ion-padding">
      By signing in you accept our
      <a>Terms of use</a>
      and
      <a>privacy policy</a>
    </p>
  </ion-toolbar>
</ion-footer>
