<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>379751333734-gr1f7ilr0aphavga8t35cn2roeqaqs77.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379751333734-gr1f7ilr0aphavga8t35cn2roeqaqs77</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>379751333734-coedvlms4ld4v8ifc455n8u4sodnr3vm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDxlI3ixybj4hI6d8D1CXW08rxxzlouyjc</string>
	<key>GCM_SENDER_ID</key>
	<string>379751333734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>volumtech.uranse.app</string>
	<key>PROJECT_ID</key>
	<string>uranse-fdbf9</string>
	<key>STORAGE_BUCKET</key>
	<string>uranse-fdbf9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379751333734:ios:8579dd026346155e5f52a7</string>
	<key>DATABASE_URL</key>
	<string>https://uranse-fdbf9.firebaseio.com</string>
</dict>
</plist>